# SPDX-License-Identifier: Apache-2.0
# Copyright 2024 Intel Corporation

name: Master workflow

on:
  pull_request:
    branches:
      - master
  push:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Helm
        uses: azure/setup-helm@v4
        with:
          version: latest
          token: ${{ secrets.GH_ONOS_PAT }}

      - name: Find all Charts and Lint them
        run: |
          for dir in $(find . -maxdepth 1 -mindepth 1 -type d); do
            if [[ -f "$dir/Chart.yaml" ]]; then
              helm lint "$dir"
            fi
          done

# GHA Under testing (needs to be fixed)
  # chart-version:
  #   runs-on: ubuntu-latest
  #   steps:
  #     - name: Checkout
  #       uses: actions/checkout@v4

  #     - name: Verify Chart version was updated
  #       run: |
  #         for dir in $(find . -maxdepth 1 -mindepth 1 -type d); do
  #           if [[ -f "$dir/Chart.yaml" ]]; then
  #             echo "Found Helm Chart in: $dir"
  #             TEST=$(git diff --name-only ${{ github.event.before }} ${{ github.event.after }})
  #             echo $TEST
  #           fi
  #         done

  license-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: reuse lint
        uses: fsfe/reuse-action@v5

  fossa-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: FOSSA scan
        uses: fossa-contrib/fossa-action@v3
        with:
          fossa-api-key: 6d304c09a3ec097ba4517724e4a4d17d
