# SPDX-License-Identifier: Apache-2.0
# Copyright 2024 Intel Corporation

name: Version Management

on:
  push:
    branches:
      - master

jobs:
  # CAUTION: Other actions depend on this name "tag-github"
  tag-github:
    uses: onosproject/.github/.github/workflows/tag-github.yml@main
    secrets: inherit

  update-version:
    needs: tag-github
    if: needs.tag-github.outputs.changed == 'true'
    uses: onosproject/.github/.github/workflows/bump-version.yml@main
    secrets: inherit
    with:
      version: ${{ needs.tag-github.outputs.version }}
